.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container div{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin: 0 0 10px 0;
    width:100%;
}
.btn{
    color: white;
    text-align: center;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
}